<aside class="sidebar">

  <a class="logo" routerLink="/main/shopping-list">
    <span class="logo-icon">🛍️</span>
    <span>bazkit</span>
  </a>

  <div class="user-box">
    <div class="avatar">{{ userName.charAt(0) }}</div>
    <span>{{ userName }}</span>
    <span class="chevron">⌄</span>
  </div>

  <nav class="nav">
    <a
      *ngFor="let item of navItems"
      class="nav-item"
      [routerLink]="item.route"
      routerLinkActive="active"
    >
      <span class="nav-icon">
        <ng-container [ngSwitch]="item.icon">

          <svg *ngSwitchCase="'home'" viewBox="0 0 24 24">
            <path d="M3 10.5 12 3l9 7.5V21h-6v-6H9v6H3z"/>
          </svg>

          <svg *ngSwitchCase="'list'" viewBox="0 0 24 24">
            <path d="M8 6h13M8 12h13M8 18h13M3 6h.01M3 12h.01M3 18h.01"/>
          </svg>

          <svg *ngSwitchCase="'recipe'" viewBox="0 0 24 24">
            <path d="M7 3v8M11 3v8M7 11a2 2 0 0 0 4 0M9 11v10M17 3v18"/>
          </svg>

          <svg *ngSwitchCase="'calendar'" viewBox="0 0 24 24">
            <path d="M7 3v4M17 3v4M4 9h16M5 5h14v16H5z"/>
          </svg>

          <svg *ngSwitchCase="'bookmark'" viewBox="0 0 24 24">
            <path d="M6 4h12v17l-6-4-6 4z"/>
          </svg>

          <svg *ngSwitchCase="'user'" viewBox="0 0 24 24">
            <path d="M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM4 21a8 8 0 0 1 16 0"/>
          </svg>

          <svg *ngSwitchCase="'settings'" viewBox="0 0 24 24">
            <path d="M12 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            <path d="M19 12a7 7 0 0 0-.1-1.2l2-1.5-2-3.4-2.4 1a7 7 0 0 0-2-1.2L14 3h-4l-.4 2.7a7 7 0 0 0-2 1.2l-2.4-1-2 3.4 2 1.5A7 7 0 0 0 5 12c0 .4 0 .8.1 1.2l-2 1.5 2 3.4 2.4-1a7 7 0 0 0 2 1.2L10 21h4l.4-2.7a7 7 0 0 0 2-1.2l2.4 1 2-3.4-2-1.5c.1-.4.2-.8.2-1.2z"/>
          </svg>

        </ng-container>
      </span>

      <span>{{ item.label }}</span>
    </a>
  </nav>

  <div class="bottom">
    <div class="premium-card">
      <strong>👑 Premium</strong>
      <p>Mehr Funktionen.<br />Mehr Möglichkeiten.</p>
      <button>Jetzt upgraden</button>
    </div>

    <a class="logout">
      <span>↪</span>
      Abmelden
    </a>
  </div>

</aside>