<div class="overlay">

    <div class="modal">

        <h2>Neue Liste erstellen</h2>

        <p>
            Geben Sie Ihrer Liste einen Namen.
        </p>

        <label>Name</label>

        <input
            type="text"
            [(ngModel)]="listName"
            placeholder="z.B. Frühstück"
        >

        <div class="buttons">

            <button
                class="secondary"
                (click)="cancel()">

                Abbrechen

            </button>

            <button
                class="primary "
                (click)="create()">

                Erstellen

            </button>

        </div>

    </div>

</div>