<div class="shopping-list-container">
  <div class="empty-state">
    <img
      src="assets/images/empty_list.png"
      alt="Leere Einkaufsliste"
      class="empty-image"
    />

    <h2>Sie haben noch keine Listen</h2>

    <p>
      Erstellen Sie Listen für Ihren Einkauf oder erstellen Sie smarte Rezepte
      und fügen diese zu Ihrer Einkaufsliste hinzu.
    </p>

    <a class="create-button" routerLink="/main/saved-list/create">
      <span>+</span>
      Erstellen Sie eine Liste
    </a>
  </div>
</div>